      body {
          width: 100vw;
          height: 100vh;
          background-color: aquamarine;
      }

      .nav {
          width: 100vw;

          background-color: orangered;
          display: flex;
          border: solid black 2px;

      }

      .items a {
          text-decoration: none;
          color: yellow;
          font-weight: 900;
      }

      .ul1 {
          list-style: none;
      }

      .list {
          display: flex;
          width: 100vw;
          justify-content: space-evenly;
      }

      .head {
          background-color: rgb(73, 73, 224);
          padding: 25px;
      }

      .head h1 {
          text-align: center;
          color: darkred;
          font-weight: 400;
          text-shadow: 9px 2px 4px white;
      }

      .head h2 {
          font-style: italic;
          color: darkred;
      }

      .head p {
          color: darkred;
          line-height: 50px;
          font-size: 25px;
      }

      .head img {
          float: right;
          width: 200px;
          height: 200px;
          padding-top: 75px;
      }

      .ul2 li {
          padding-bottom: 30px
      }

      .ul2 a {
          text-decoration: none;
      }

      .two {
          background-color: black;
          color: white;

      }

      .two img {
          width: 150px;
          height: 150px;
      }

      .imgs {
          margin-top: 30px;
          width: 100vw;
          height: 400px;
          background-color: yellow;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-template-rows: repeat(3, 1fr);
          gap: 10px;
          border: solid black 2px;
          margin-top: 40px;

      }

      .three {
          height: 400px;
          background-color: darkblue;
          color: white;
          line-height: 40px;
          font-weight: 500;
          font-size: 25px;
      }

      .videoproj {
          display: grid;
          grid-template-rows: 1fr;
          grid-template-columns: 1fr 1fr;
          background-color: deeppink
      }

      .resum {
          background-color: orangered;
          height: 300px;
          padding-left: 20px;
          padding-top: 20px;
      }

      .contactdetails {
          background-color: black;
          height: 500px;
          color: white;
          padding: 20px;
      }

      .three a {
          text-decoration: none;
          color: red;

      }

      footer {
          text-align: center;
      }

      .comment {
          background-color: rgb(30, 210, 147);

      }

      button {
          margin-left: 1050px;
      }